:root {
  --cream: #fbf5ef;
  --pink-band: #fde6de;
  --cta: #ea9a94;
  --text-dark: #6a5656;
  --muted: #8d7371;
}

@font-face {
  font-family: 'OlyfordPro';
  src: url('../__assets/fonts/OlyfordPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OlyfordPro';
  src: url('../__assets/fonts/OlyfordPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PERTILLI';
  src: url('../__assets/fonts/PERTILI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;

}

body {
  font-family: 'OlyfordPro', sans-serif;
  color: var(--text-dark);
  background: #fff;
    max-width: 1440px;
  margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}