/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  text-align: center;
  background: url('../../images/LightBrownbg-1.png');
  overflow: hidden;
  padding: 80px 20px;
  background-size: cover;
  /* height: 141vh; */
  background-repeat: no-repeat;
  background-attachment: scroll;

}

.firstsection {
  /* height: 68vh; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  text-align: center;
}


/* Text */
.hero-content {
  position: relative;
  z-index: 2;
  /* padding-bottom: 23%; */
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.hero p {
  margin-top: 10px;
  font-size: 19px;
  letter-spacing: 2px;
  color: var(--muted);
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 26px;
  border-radius: 26px;
  background: var(--cta);
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}


.bowl img {
  width: 420px;
  max-width: 60vw;
  height: auto;
  padding-top: 10px ;
}

.secondsection {
  display: flex;
  gap: 60px;
  width: 1200px;
  margin: 0 auto;
  height: 369px;
}

.middlebox {
  align-self: end;
}

.boxcontainer {
  padding: 10px 45px;
}

.secondsection h3 {
  font-size: 18px;
  margin-top: 15px;
  color: #C67E81;
}

.secondsection p {
  font-size: 13px;
  line-height: 1.4rem;
  color: #000000;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding: 60px 16px 200px;
    height: 57vh;
  }

  .hero h1 {
    font-size: 18px;
  }

  .hero p {
    font-size: 13px;
  }

  .bowl img {
    width: 180px;
  }

  .vision-titles {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 50px 12px 160px;
  }

  .hero h1 {
    font-size: 16px;
  }

  .cta {
    padding: 10px 20px;
    font-size: 13px;
  }

  .bowl img {
    width: 140px;
  }

  .decor {
    width: 22px;
  }

  .vision-titles {
    font-size: 12px;
  }
}