.goals-main {
    .goals-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

        .goals-left {
            background-color: #fff3e1;
            border-radius: 0 15px 0 0;
            padding: 25px;

            .goals-left-inner {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .left {

                    h2 {
                        font-size: 30px;
                        color: #E19B8E;
                        text-transform: uppercase;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        color: black;
                        line-height: 1.6;
                    }
                }

                .right {
                    img {
                        width: 310px;
                        height: 200px;
                    }

                    p {
                        font-size: 16px;
                        color: black;
                        line-height: 1.2;
                        font-style: italic;
                    }
                }


            }
        }

        .goals-right {
            background-color: #f4dfe5;
            border-radius: 15px 0 0 0;
            padding: 25px;

            .goals-left-inner {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .left {

                    h2 {
                        font-size: 30px;
                        color: #E19B8E;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        color: black;
                        line-height: 1.6;
                    }
                }

                .right {
                    img {
                        width: 310px;
                        height: 200px;
                    }

                    p {
                        font-size: 16px;
                        color: black;
                        line-height: 1.2;
                        font-style: italic;
                    }
                }
            }
        }

        .know-more-btn {
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #9b3e46, #d05b61);
            color: white;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 8px 15px;
            border: none;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }


    }
}