.products-main {
  padding: 0 0 0 0;
  background-color: var(--cardBg);
  font-family: 'OlyfordPro', sans-serif;


  .product-inner {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    justify-content: space-evenly;
    /* padding-bottom: 80px; */
    gap: 0;
    /* padding: 2px; */

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;

      .card-inner {
        border: 1px solid rgb(189 160 160);
        /* background-color: white; */
      }

      .card-img {
        padding: 20px;
        background-color: white;

        img {
          height: 300px;
          width: 100%;
          object-fit: contain;
        }

        .product-min-title {
          font-size: 12px;
          color: #000000df;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;

          p {
            margin: 0;
            text-align: right;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 18px;
            color: #000000;
          }
        }
      }

      .product-desc-main {
        /* background-color: #efcfce; */
        padding: 20px;

        .product-desc-inner {
          .product-title {
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            font-size: 20px;
          }

          .lower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            gap: 50px;

            p {
              flex: 1 1 50%;
              margin: 0;
              padding: 0;
              font-size: 16px;
              color: #000000;
              font-weight: 700;
              word-spacing: 2px;
              text-transform: capitalize;
              max-width: 250px;

            }

            button {
              display: flex;
              gap: 5px;
              align-items: center;
              /* margin-top: 20px; */
              padding: 10px 30px;
              border-radius: 26px;
              border: none;
              background: #02984b;
              color: #fff;
              text-decoration: none;
              font-weight: 600;
              letter-spacing: 1px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/* Info Section */
.bowls-info h3 {
  color: #C67E81;
  font-size: 52px;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.circle-icon {
  font-size: 0.97em;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

/* Info */
.bowls-info {
  padding-top: 40px;
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.bowls-info h4 {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #986a6b;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 0.2px;
}

.bowls-info p {
  color: #000000;
  font-size: 22px;
  line-height: 1.4;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 600;
}

/* .explore-bottom {
  background-color: white;
  padding: 20px;
} */